{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <title>Todo</title>
</head>

<body>
    <div>
        <div class="todotitle">Todo App</div>
        <button class="btn btn-success btn-sm add-btn"><span>New </span><i class="fas fa-plus-circle"></i></div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Create date</th>
                        <th>Owner</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{item.task}}</td>
                        <td>{{item.create_date}}</td>
                        <td>{{item.owner}}</td>
                        <td>{{item.status}}</td>
                        <td class="action-toolbar">
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash-alt"></i>
                            <i class="far fa-check-circle" style="cursor:not-allowed !important; opacity:0.6"></i>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>